body {
    margin: 0;
    padding: 0;
}

div {
    border: 0px solid white;

}


.section_wrapper {
    display: flex;
    justify-content: space-around;
}


.section_wrapper_child {
    width: 80%;
    background-color: lightcoral;
}

.content_wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center
}

.content_wrapper_child {
    width: 33.333%;
    height: 200px;
}
