body {
    background-color: #2A2C38;
    margin: 0;
    padding: 0;
}



h1,
h2,
h3,
h4,
p {
    color: white;
    font-family: 'Roboto', sans-serif;
}

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #14151E;
}

ul.topnav li {
    float: left;
}

ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

ul.topnav li a:hover:not(.active) {
    background-color: #2A2C38;
}

ul.topnav li a.active {
    background-color: #3E4159;
}

ul.topnav li.right {
    float: right;
}

@media screen and (max-width: 600px) {
    ul.topnav li.right,
    ul.topnav li {
        float: none;
    }
}


.section_wrapper {
    display: flex;
    justify-content: space-around;
}


.section_wrapper_child {
    width: 80%;

}

.content_wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.content_wrapper_child {
    flex-grow: 1;
}

.fronpagebackground {
    background-image: url(IMG/forside5.png);
    width: 80vw;
    height: 45vw;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
}

.filler1 {
    height: 2vw;
}

.tekst_wrapper {
    min-width: 300px;
    max-width: 600px;
    margin-bottom: 50px;
}


.billed_pos {
    display: flex;
    justify-content: center;
}



.opgave_exemple {
    max-height: 500px;
    max-width: 80vw;
}

.billed_wrapper {
    min-width: 300px;
    max-width: 600px;
}

.button {
    background-color: #14151E;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
}

.button:hover {
    background-color: #3E4159;
}

.button_pos {
    display: flex;
    justify-content: center;
    margin: 50px 0 50px;
}

h2 {
    font-size: 3em;
}

h3 {
    font-size: 2em;
    margin: 40px 0 40px;
}

p {
    line-height: 150%;
    margin: 10px 0 10px;
}

h4 {
    font-size: 1.2em;
    margin: 20px 0 10px;
}

.boks {
    width: 19.8vw;
    height: 19.8vw;
    background-color: aliceblue;
    min-width: 150px;
    min-height: 150px;
}

.boks1:hover {
    background-image: url(IMG/hover_html.svg);

}

.boks2:hover {
    background-image: url(IMG/hover_video.svg);

}

.boks3:hover {
    background-image: url(IMG/hover_animation.svg);

}

.boks4:hover {
    background-image: url(IMG/hover_ux.svg);

}

.portfolio_menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.boks1 {
    background-image: url(IMG/html_menu.svg);

}

.boks2 {
    background-image: url(IMG/video_menu.svg);

}

.boks3 {
    background-image: url(IMG/animation_menu.svg);

}

.boks4 {
    background-image: url(IMG/ux_menu.svg);

}



.content_intro {
    width: 60vw;

}

.content_no_wrapper {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}





.intro_tekst {
    max-width: 500px;
    text-align: center;
}

.filler2 {
    height: 3vw;
}




