body {
    background-color: #2A2C38;
    margin: 0;
    padding: 0;
}

div {
    border: 0px solid white;

}

h1,
h2,
h3,
h4,
p {
    color: white;

}

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

ul.topnav li {
    float: left;
}

ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.topnav li a:hover:not(.active) {
    background-color: #111;
}

ul.topnav li a.active {
    background-color: #4CAF50;
}

ul.topnav li.right {
    float: right;
}

@media screen and (max-width: 600px) {
    ul.topnav li.right,
    ul.topnav li {
        float: none;
    }
}


.section_wrapper {
    display: flex;
    justify-content: space-around;
}


.section_wrapper_child {
    width: 80%;
    background-color: lightcoral;
}

.content_wrapper {
    background-color: #2A2C38;
    display: flex;
    flex-wrap: wrap;
    justify-content: center
}

.content_wrapper_child {}

.box1 {
    background-image: url(IMG/html5.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

.box2 {
    background-image: url(IMG/video.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.box3 {
    background-image: url(IMG/animation.gif);
    background-repeat: no-repeat;
    background-size: cover;
}

.box4 {
    background-image: url(IMG/UX.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.box:hover {
    opacity: 0.5;
}

.box {
    width: 25%;
    height: 400px;
}
